<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="K2DataObjects.Properties.Settings.K2DSConnectionString"
            connectionString="Data Source=10.1.11.15;Initial Catalog=K2DS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>